.title{
    margin-top: 93px;
    margin-left: 581px;
}

.col1{    
    margin-top: -300px;
    margin-bottom: 34px;
}

.btn1{
    margin-left: 41px;
}

.cards{
    margin-top: -91px;
}

.btnW{
         width: 117px;
        height: 30px;
    }

.cardtext{
    padding: 18px;
}
.card2{
    margin-top: 222px;
    margin-left: 20px;
}

.details{
    width: 360px;
}

.accitem{
    width: 373px;
}